
#footer {
    background-image: linear-gradient(to left, #607395, #155e9d);
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

#hours {
    display: flex;
    flex-direction: column;
}

#hours li {
    display: flex;
    flex-direction: row;
}

#hours li p {
    margin: 0;
    font-weight: 600;
    margin-right: 6px;
}

#copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

@media all and (max-width: 540px) {
    #columns {
        flex-direction: column;
    }

    #content-contact {
        text-align: center;
    }
}